<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recyclerlib"
    tools:overrideLibrary="com.ryan.rv_gallery">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/appname"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name="com.supets.pet.MainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.supets.pet.gallery.GalleryActivity" />
        <activity android:name="com.supets.pet.suspendbar.MultiActivity" />
        <activity android:name="com.supets.pet.suspendbar.SuspendActivity" />
        <activity android:name="com.supets.pet.banner.BannerMainActivity" />
        <activity android:name="com.supets.pet.banner.BannerNormalActivity" />
        <activity android:name="com.supets.pet.pull.activity.LoadMoreActivity" />
        <activity android:name="com.supets.pet.pull.activity.LoadMoreWrapperActivity" />
        <activity android:name="com.supets.pet.tianmao.TianMaoActivity" />

    </application>
</manifest>
